* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(231, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #3E2723;
}

table {
    text-align: left;
    border: 1px solid #3E2723;
    background-color: #3E2723;
    border-spacing: 0;
}

td, th {
    padding: 5px;
    border: 1px solid #3E2723;
    background-color: #fff;
}

header, nav {
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-color:  rgb(231, 231, 231);
}

header {
    padding-top: 25px;
}

header p {
    margin-top: 5px;
    padding-bottom: 25px;
}

p {
    line-height: 1.3rem;
}

h1 {
    margin: 0;
    z-index: 2;
    padding: 0;
    color:  #8a2be2;
}

h3 {
    border-bottom: 3px solid  #8a2be2;
}

h2, h3, h4 {
    background-color: inherit;
    color:  #8a2be2;
    padding: 0;
}

h2, h3, h4 {
    margin: 10px 0;
}

nav {
    padding: 1px;
    position: sticky;
    margin-top: -25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

.content {
    max-width: 800px;
    width: 90%;
    background-color: #fff;
    margin: auto;
    padding: 15px 45px 45px 45px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.content img {
    display: block;
    width: 100%;
}

.blog-post, .about {
    padding: 15px 0 15px 0;
    margin: 0 0 25px 0;
}

#author-headshot {
    max-width: 150px;
    border-radius: 15px;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
}

footer div {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: unset;
}

.custom-form {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
}

.custom-form > div {
    flex-basis: 45%;
}

.custom-form label {
    font-size: 1rem;
    margin: 15px auto;
}

input:not([type="submit"]), select, textarea {
    /* display: block; */
    margin-top: 5px;
    margin-bottom: 15px;
    width: 90%;
    padding: 8px;
    border-radius: 0;
    border: 1px solid black;
    font-size: 1.1rem;
}

input:active, input:focus, 
textarea:focus, textarea:active, 
select:focus, select:active {
    outline: none;
    border: 1px solid #8a2be2;
}

input[type="submit"] {
    margin-top: 26px;
    position: relative;
    background-color: #8a2be2;
    border: none;
    color: #fff;
    padding: 8px 15px;
    min-width: 300px;
    max-width: 90%;
    font-size: 1rem;
    cursor: pointer;
    display: block;
}

.custom-form-container {
    color:  #8a2be2;
    border-top: 8px solid #8a2be2;
    padding: 35px;
    background-color: #f8f8f8;
}

.custom-form-container h2 {
    border: none;
    padding: 0;
    margin: 0;
}

#copyright {
    text-align: center;
}

textarea {
    display: block;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.float-left {
    float: left;
    margin-left: 0;
}

figcaption {
    text-align: center;
    padding: 10px;
}

figure {
    height: 100%;
    margin: 0 25px 0 0 ;
}